apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ keycloak_service_name }}
  namespace: {{ keycloak_namespace }}
spec:
  podSelector:
    matchLabels:
      app.kubernetes.io/name: {{ keycloak_service_name }}
  policyTypes: [Ingress, Egress]
  ingress:
    - from:
        - namespaceSelector:
            matchLabels: {kubernetes.io/metadata.name: edge}
          podSelector:
            matchLabels: {app.kubernetes.io/name: traefik}
      ports:
        - {protocol: TCP, port: {{ keycloak_container_port }}}
  egress:
    - to:
        - podSelector:
            matchLabels: {app.kubernetes.io/name: postgres}
      ports:
        - {protocol: TCP, port: 5432}
    - to:
        - ipBlock: {cidr: {{ private_cloud.networking.traefik_internal_ip }}/32}
      ports:
        - {protocol: TCP, port: 443}
    - to:
        - namespaceSelector:
            matchLabels: {kubernetes.io/metadata.name: kube-system}
          podSelector:
            matchLabels: {k8s-app: kube-dns}
      ports:
        - {protocol: UDP, port: 53}
        - {protocol: TCP, port: 53}
