apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ keycloak_pvc_name }}
  namespace: {{ keycloak_namespace }}
  labels:
    app.kubernetes.io/name: {{ keycloak_service_name }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ keycloak_pv_capacity }}
  storageClassName: ""
  volumeName: {{ keycloak_pv_name }}
