apiVersion: v1
kind: Service
metadata:
  name: {{ keycloak_service_name }}
  namespace: {{ keycloak_namespace }}
  labels:
    app.kubernetes.io/name: {{ keycloak_service_name }}
spec:
  selector:
    app.kubernetes.io/name: {{ keycloak_service_name }}
  ports:
    - {name: http, port: {{ keycloak_container_port }}, targetPort: http, protocol: TCP}
