apiVersion: v1
kind: PersistentVolume
metadata:
  name: bleve-data
  labels:
    app.kubernetes.io/name: bleve
spec:
  capacity:
    storage: 10Ti
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: ""
  claimRef:
    namespace: private-cloud
    name: bleve-data
  local:
    path: {{ bleve_dataset_mountpoint | to_json }}
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/hostname
              operator: In
              values:
                - {{ bleve_node_name | to_json }}
