apiVersion: v1
kind: PersistentVolume
metadata:
  name: traefik-data
spec:
  capacity: {storage: 10Ti}
  volumeMode: Filesystem
  accessModes: [ReadWriteOnce]
  persistentVolumeReclaimPolicy: Retain
  storageClassName: ''
  claimRef:
    namespace: edge
    name: traefik-data
  local:
    path: {{ networking_traefik_mountpoint | to_json }}
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/hostname
              operator: In
              values: [{{ networking_node_name | to_json }}]
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: traefik-data
  namespace: edge
spec:
  accessModes: [ReadWriteOnce]
  resources:
    requests: {storage: 10Ti}
  storageClassName: ''
  volumeName: traefik-data
