apiVersion: v1
kind: Secret
metadata:
  name: {{ onlyoffice_secret_name }}
  namespace: {{ onlyoffice_namespace }}
  annotations:
    private-cloud.example/managed-by: ansible
type: Opaque
stringData:
  JWT_SECRET: {{ private_cloud_secrets.onlyoffice.jwt_secret | to_json }}
