apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: opencloud-ingress
  namespace: private-cloud
spec:
  podSelector:
    matchLabels:
      app.kubernetes.io/name: opencloud
  policyTypes: [Ingress]
  ingress:
    - ports:
        - {protocol: TCP, port: 9200}
