apiVersion: v1
kind: Service
metadata:
  name: opencloud-public
  namespace: private-cloud
  labels:
    app.kubernetes.io/name: opencloud
spec:
  type: NodePort
  selector:
    app.kubernetes.io/name: opencloud
  ports:
    - {name: http, port: 9200, targetPort: http, nodePort: 30920, protocol: TCP}
