apiVersion: v1
kind: Service
metadata:
  name: {{ affine_public_service_name }}
  namespace: {{ affine_namespace }}
  labels:
    app.kubernetes.io/name: affine
spec:
  type: NodePort
  selector: {app.kubernetes.io/name: affine}
  ports:
    - {name: http, port: 3010, targetPort: http, nodePort: {{ private_cloud.affine.node_port }}, protocol: TCP}
