apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ affine_pvc_name }}
  namespace: {{ affine_namespace }}
  labels:
    app.kubernetes.io/name: affine
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ affine_pv_capacity }}
  storageClassName: ""
  volumeName: {{ affine_pv_name }}
