apiVersion: v1
kind: Service
metadata:
  name: {{ affine_redis_service_name }}
  namespace: {{ affine_namespace }}
spec:
  selector: {app.kubernetes.io/name: affine-redis}
  ports:
    - {name: redis, port: 6379, targetPort: redis, protocol: TCP}
