apiVersion: v1
kind: Secret
metadata:
  name: {{ affine_secret_name }}
  namespace: {{ affine_namespace }}
  annotations:
    private-cloud.example/managed-by: ansible
type: Opaque
stringData:
  AFFINE_DB_NAME: {{ affine_database_name | to_json }}
  AFFINE_DB_USERNAME: {{ affine_database_username | to_json }}
  AFFINE_DB_PASSWORD: {{ private_cloud_secrets.affine.database_password | to_json }}
  DATABASE_URL: {{ ('postgresql://' ~ affine_database_username ~ ':' ~ (private_cloud_secrets.affine.database_password | urlencode | replace("/", "%2F")) ~ '@' ~ affine_postgres_service ~ ':5432/' ~ affine_database_name) | to_json }}
