apiVersion: v1
kind: Secret
metadata:
  name: {{ immich_secret_name }}
  namespace: {{ immich_namespace }}
  annotations:
    private-cloud.example/managed-by: ansible
type: Opaque
stringData:
  DB_PASSWORD: {{ private_cloud_secrets.immich.database_password | to_json }}
  IMMICH_OAUTH_CLIENT_SECRET: {{ private_cloud_secrets.immich.oidc_client_secret | to_json }}
