apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: affine-data
  namespace: private-cloud
  labels:
    app.kubernetes.io/name: affine
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Ti
  storageClassName: ""
  volumeName: affine-data
