apiVersion: v1
kind: PersistentVolume
metadata:
  name: affine-data
  labels:
    app.kubernetes.io/name: affine
spec:
  capacity:
    storage: 10Ti
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: ""
  claimRef:
    namespace: private-cloud
    name: affine-data
  local:
    path: {{ affine_dataset_mountpoint | to_json }}
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/hostname
              operator: In
              values:
                - {{ affine_node_name | to_json }}
