apiVersion: v1
kind: Service
metadata:
  name: affine-public
  namespace: private-cloud
  labels: {app.kubernetes.io/name: affine}
spec:
  type: NodePort
  selector: {app.kubernetes.io/name: affine}
  ports:
    - {name: http, port: 3010, targetPort: http, nodePort: 30310, protocol: TCP}
