apiVersion: v1
kind: Secret
metadata:
  name: amneziawg-config
  namespace: network-access
  annotations:
    private-cloud.example/managed-by: ansible
type: Opaque
stringData:
  awg0.conf: |
    [Interface]
    Address = {{ private_cloud.networking.amneziawg.address }}
    ListenPort = {{ private_cloud.networking.amneziawg.listen_port }}
    PrivateKey = {{ private_cloud_secrets.networking.amneziawg_private_key }}
    Jc = 7
    Jmin = 8
    Jmax = 80
    S1 = 55
    S2 = 80
    H1 = 1663488653
    H2 = 2067190717
    H3 = 1315751519
    H4 = 1845041031
    PostUp = iptables -P FORWARD DROP
    PostUp = iptables -A FORWARD -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT
    PostUp = iptables -A FORWARD -i awg0 -o eth0 -d {{ private_cloud.networking.traefik_internal_ip }}/32 -p tcp --dport 443 -j ACCEPT
{% for peer in private_cloud.networking.amneziawg.peers %}
{% for rule in peer.lan_access %}
    PostUp = iptables -A FORWARD -i awg0 -o eth0 -s {{ peer.address }}/32 -d {{ rule.destination }} -p {{ rule.protocol | lower }} --dport {{ rule.port }} -j ACCEPT
{% endfor %}
{% endfor %}
    PostUp = iptables -A FORWARD -i awg0 -o eth0 -d 10.0.0.0/8 -j REJECT
    PostUp = iptables -A FORWARD -i awg0 -o eth0 -d 100.64.0.0/10 -j REJECT
    PostUp = iptables -A FORWARD -i awg0 -o eth0 -d 127.0.0.0/8 -j REJECT
    PostUp = iptables -A FORWARD -i awg0 -o eth0 -d 169.254.0.0/16 -j REJECT
    PostUp = iptables -A FORWARD -i awg0 -o eth0 -d 172.16.0.0/12 -j REJECT
    PostUp = iptables -A FORWARD -i awg0 -o eth0 -d 192.168.0.0/16 -j REJECT
    PostUp = iptables -A FORWARD -i awg0 -o eth0 -d {{ private_cloud.networking.pod_cidr }} -j REJECT
    PostUp = iptables -A FORWARD -i awg0 -o eth0 -d {{ private_cloud.networking.service_cidr }} -j REJECT
    PostUp = iptables -A FORWARD -i awg0 -o eth0 -d {{ private_cloud.networking.amneziawg.tunnel_cidr }} -j REJECT
    PostUp = iptables -A FORWARD -i awg0 -o eth0 -j ACCEPT
    PostUp = iptables -t nat -A POSTROUTING -s {{ private_cloud.networking.amneziawg.tunnel_cidr }} -o eth0 -j MASQUERADE
    PostDown = iptables -F FORWARD
    PostDown = iptables -t nat -D POSTROUTING -s {{ private_cloud.networking.amneziawg.tunnel_cidr }} -o eth0 -j MASQUERADE
{% for peer in private_cloud.networking.amneziawg.peers %}

    [Peer]
    PublicKey = {{ peer.public_key }}
    AllowedIPs = {{ peer.address }}/32
{% endfor %}
