apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-ddns-api
  namespace: dns-system
  annotations:
    private-cloud.example/managed-by: ansible
type: Opaque
stringData:
  api-token: {{ private_cloud_secrets.networking.cloudflare_ddns_api_token | to_json }}
