apiVersion: v1
kind: Secret
metadata:
  name: forward-auth
  namespace: edge
  annotations:
    private-cloud.example/managed-by: ansible
type: Opaque
stringData:
  oidc-client-secret: {{ private_cloud_secrets.grist.oidc_client_secret | to_json }}
  cookie-secret: {{ private_cloud_secrets.grist.oidc_cookie_secret | to_json }}
