apiVersion: v1
kind: PersistentVolume
metadata: {name: alloy-data}
spec:
  capacity: {storage: 10Ti}
  accessModes: [ReadWriteOnce]
  persistentVolumeReclaimPolicy: Retain
  storageClassName: ""
  claimRef: {name: alloy-data, namespace: observability}
  local: {path: /tank/secure/no-backup/k0s/services/alloy}
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/hostname
              operator: In
              values: [{{ ansible_hostname | to_json }}]
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata: {name: alloy-data, namespace: observability}
spec:
  accessModes: [ReadWriteOnce]
  storageClassName: ""
  volumeName: alloy-data
  resources: {requests: {storage: 10Ti}}
