apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: immich
  namespace: private-cloud
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.tls.certresolver: cloudflare
spec:
  ingressClassName: traefik
  tls:
    - hosts: [{{ private_cloud.immich.hostname }}]
  rules:
    - host: {{ private_cloud.immich.hostname }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: immich
                port: {number: 2283}
