apiVersion: v1
kind: ServiceAccount
metadata:
  name: immich
  namespace: private-cloud
automountServiceAccountToken: false
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: immich-machine-learning
  namespace: private-cloud
automountServiceAccountToken: false
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: immich-valkey
  namespace: private-cloud
automountServiceAccountToken: false
