apiVersion: v1
kind: Service
metadata:
  name: immich
  namespace: private-cloud
  labels:
    app.kubernetes.io/name: immich
spec:
  selector:
    app.kubernetes.io/name: immich
  ports:
    - {name: http, port: 2283, targetPort: http, protocol: TCP}
