apiVersion: v1
kind: Secret
metadata:
  name: {{ keycloak_realm_secret_name }}
  namespace: {{ keycloak_namespace }}
  annotations:
    private-cloud.example/managed-by: ansible
type: Opaque
stringData:
  {{ keycloak_realm_file_name }}: {{ keycloak_realm_definition | to_json }}
