# Managed by private-cloud Ansible.
UserParameter=zfs.metrics,{{ zabbix_zfs_collector }} --inventory {{ zabbix_dataset_inventory }} metrics
UserParameter=zfs.snapshots,{{ zabbix_zfs_collector }} --inventory {{ zabbix_dataset_inventory }} snapshots
