apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ tika_pv_name }}
  labels:
    app.kubernetes.io/name: tika
spec:
  capacity:
    storage: {{ tika_pv_capacity }}
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: ""
  claimRef:
    namespace: {{ tika_namespace }}
    name: {{ tika_pvc_name }}
  local:
    path: {{ tika_dataset_mountpoint }}
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/hostname
              operator: In
              values:
                - {{ tika_node_name | quote }}
