apiVersion: v1
kind: Service
metadata:
  name: {{ grist_public_service_name }}
  namespace: {{ grist_namespace }}
  labels:
    app.kubernetes.io/name: grist
spec:
  type: NodePort
  selector:
    app.kubernetes.io/name: grist
  ports:
    - {name: http, port: 8484, targetPort: http, nodePort: {{ private_cloud.grist.node_port }}, protocol: TCP}
