apiVersion: v1
kind: Service
metadata:
  name: {{ grist_service_name }}
  namespace: {{ grist_namespace }}
  labels:
    app.kubernetes.io/name: grist
spec:
  selector:
    app.kubernetes.io/name: grist
  ports:
    - {name: http, port: 8484, targetPort: http, protocol: TCP}
