apiVersion: v1
kind: PersistentVolume
metadata:
  name: meilisearch-data
  labels:
    app.kubernetes.io/name: meilisearch
spec:
  capacity:
    storage: 10Ti
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: ""
  claimRef:
    namespace: private-cloud
    name: meilisearch-data
  local:
    path: {{ meilisearch_dataset_mountpoint | to_json }}
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/hostname
              operator: In
              values:
                - {{ meilisearch_node_name | to_json }}
