apiVersion: v1
kind: PersistentVolume
metadata:
  name: zabbix-server-data
  labels:
    app.kubernetes.io/name: zabbix
    app.kubernetes.io/component: server-data
spec:
  capacity:
    storage: 10Ti
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: ""
  claimRef:
    namespace: private-cloud
    name: zabbix-server-data
  local:
    path: {{ zabbix_dataset_mountpoint | to_json }}
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/hostname
              operator: In
              values:
                - {{ zabbix_node_name | to_json }}
