apiVersion: v1
kind: Service
metadata:
  name: zabbix-server
  namespace: private-cloud
  labels:
    app.kubernetes.io/name: zabbix
    app.kubernetes.io/component: server
spec:
  type: NodePort
  selector:
    app.kubernetes.io/name: zabbix
    app.kubernetes.io/component: server
  ports:
    - name: zabbix-trapper
      port: 10051
      targetPort: zabbix-trapper
      nodePort: 31051
      protocol: TCP
