apiVersion: v1
kind: Secret
metadata:
  name: {{ meilisearch_secret_name }}
  namespace: {{ meilisearch_namespace }}
  annotations:
    private-cloud.example/managed-by: ansible
type: Opaque
stringData:
  MEILI_MASTER_KEY: {{ private_cloud_secrets.meilisearch.master_key | to_json }}
