apiVersion: v1
kind: Service
metadata:
  name: {{ meilisearch_service_name }}
  namespace: {{ meilisearch_namespace }}
  labels:
    app.kubernetes.io/name: meilisearch
spec:
  selector:
    app.kubernetes.io/name: meilisearch
  ports:
    - name: http
      port: 7700
      targetPort: http
      protocol: TCP
