apiVersion: v1
kind: Secret
metadata: {name: jellyfin-credentials, namespace: media}
type: Opaque
stringData:
  JELLYFIN_OIDC_CLIENT_SECRET: {{ private_cloud_secrets.media.jellyfin_oidc_client_secret | to_json }}
