apiVersion: v1
kind: Secret
metadata:
  name: media-vpn
  namespace: media
  annotations:
    private-cloud.example/managed-by: ansible
type: Opaque
stringData:
  custom.conf: |
{{ private_cloud_secrets.media.openvpn_configuration | indent(4, true) }}
  proxy-password: {{ private_cloud_secrets.media.proxy_password | to_json }}
  username: {{ private_cloud_secrets.media.openvpn_username | to_json }}
  password: {{ private_cloud_secrets.media.openvpn_password | to_json }}
