[Application]
FileLogger\Enabled=true
FileLogger\Backup=true
FileLogger\DeleteOld=true
FileLogger\MaxSizeBytes=10485760
FileLogger\Age=7
FileLogger\AgeType=0
FileLogger\Path=/config/qBittorrent/logs

[BitTorrent]
Session\Interface=tun0
Session\InterfaceName=tun0
Session\Port=6881

[Preferences]
Bittorrent\AnonymousMode=true
Connection\UPnP=false
Downloads\SavePath=/media/downloads/
Downloads\TempPath=/media/incomplete/
Downloads\TempPathEnabled=true
WebUI\Address=0.0.0.0
WebUI\AuthSubnetWhitelistEnabled=false
WebUI\ClickjackingProtection=true
WebUI\CSRFProtection=true
WebUI\HostHeaderValidation=true
WebUI\LocalHostAuth=true
WebUI\Port=8080
