apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-affine
  namespace: private-cloud
  labels:
    app.kubernetes.io/name: redis-affine
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/name: redis-affine
  template:
    metadata:
      labels:
        app.kubernetes.io/name: redis-affine
    spec:
      serviceAccountName: redis-affine
      automountServiceAccountToken: false
      securityContext:
        runAsNonRoot: true
        runAsUser: 999
        runAsGroup: 1000
        seccompProfile: {type: RuntimeDefault}
      containers:
        - name: redis
          image: redis:8.2.1-alpine@sha256:987c376c727652f99625c7d205a1cba3cb2c53b92b0b62aade2bd48ee1593232
          imagePullPolicy: IfNotPresent
          securityContext:
            runAsNonRoot: true
            privileged: false
            allowPrivilegeEscalation: false
            capabilities: {drop: [ALL]}
          args: [redis-server, --save, "", --appendonly, "no"]
          ports:
            - {name: redis, containerPort: 6379, protocol: TCP}
          resources:
            requests: {cpu: 100m, memory: {{ private_cloud.redis_affine.max_ram | to_json }}, ephemeral-storage: 128Mi}
            limits: {cpu: 1, memory: {{ private_cloud.redis_affine.max_ram | to_json }}, ephemeral-storage: 1Gi}
          startupProbe:
            exec: {command: [redis-cli, ping]}
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 30
          readinessProbe:
            exec: {command: [redis-cli, ping]}
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 30
          livenessProbe:
            exec: {command: [redis-cli, ping]}
            initialDelaySeconds: 30
            periodSeconds: 30
            timeoutSeconds: 5
            failureThreshold: 5
          volumeMounts:
            - {name: data, mountPath: /data}
      volumes:
        - name: data
          emptyDir: {}
