apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: onlyoffice-ingress
  namespace: private-cloud
spec:
  podSelector:
    matchLabels:
      app.kubernetes.io/name: onlyoffice
  policyTypes: [Ingress]
  ingress:
    - from:
        - namespaceSelector:
            matchLabels: {kubernetes.io/metadata.name: edge}
          podSelector:
            matchLabels: {app.kubernetes.io/name: traefik}
      ports:
        - {protocol: TCP, port: 80}
