apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-data
  namespace: private-cloud
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: ""
  volumeName: postgres-local-pv
  resources:
    requests:
      storage: 10Ti
