apiVersion: v1
kind: Secret
metadata:
  name: opencloud-identity
  namespace: private-cloud
  annotations:
    private-cloud.example/managed-by: ansible
type: Opaque
stringData:
  idp.yaml: |
{{ lookup('template', 'idp.yaml.j2') | indent(4, true) }}
