apiVersion: v1
kind: Service
metadata:
  name: {{ opencloud_public_service_name }}
  namespace: {{ opencloud_namespace }}
  labels:
    app.kubernetes.io/name: opencloud
spec:
  type: NodePort
  selector:
    app.kubernetes.io/name: opencloud
  ports:
    - name: http
      port: 9200
      targetPort: http
      nodePort: {{ private_cloud.opencloud.node_port }}
      protocol: TCP
