apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ opencloud_pvc_name }}
  namespace: {{ opencloud_namespace }}
  labels:
    app.kubernetes.io/name: opencloud
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ opencloud_pv_capacity }}
  storageClassName: ""
  volumeName: {{ opencloud_pv_name }}
