[Unit]
Description=Load keys and mount encrypted ZFS datasets
Requires=zfs-import.target
After=zfs-import.target zfs-mount.service
Before=k0scontroller.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/zfs-unlock-mount

[Install]
WantedBy=multi-user.target
