apiVersion: v1
kind: ConfigMap
metadata: {name: qbittorrent-logging, namespace: media}
data:
  configure.py: |
{{ lookup('file', playbook_dir ~ '/../logging/configure_qbittorrent.py') | indent(4, true) }}
