{% for service in ['sonarr', 'radarr', 'prowlarr', 'qbittorrent', 'media-library'] %}
apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ service }}-data
spec:
  capacity: {storage: 10Ti}
  volumeMode: Filesystem
  accessModes: [ReadWriteOnce]
  persistentVolumeReclaimPolicy: Retain
  storageClassName: ''
  claimRef:
    namespace: media
    name: {{ service }}-data
  local:
    path: {{ ('/' ~ media_datasets[service]) | to_json }}
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/hostname
              operator: In
              values: [{{ media_node_name | to_json }}]
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ service }}-data
  namespace: media
spec:
  accessModes: [ReadWriteOnce]
  resources:
    requests: {storage: 10Ti}
  storageClassName: ''
  volumeName: {{ service }}-data
---
{% endfor %}
