apiVersion: v1
kind: Secret
metadata:
  name: {{ zabbix_database_secret_name }}
  namespace: {{ zabbix_namespace }}
  annotations:
    private-cloud.example/managed-by: ansible
type: Opaque
stringData:
  POSTGRES_DB: {{ private_cloud.zabbix.database_name | to_json }}
  POSTGRES_USER: {{ private_cloud.zabbix.database_username | to_json }}
  POSTGRES_PASSWORD: {{ private_cloud_secrets.zabbix.database_password | to_json }}
