apiVersion: v1
kind: Service
metadata:
  name: zabbix-server
  namespace: {{ zabbix_namespace }}
  labels: {app.kubernetes.io/name: zabbix, app.kubernetes.io/component: server}
spec:
  type: NodePort
  selector: {app.kubernetes.io/name: zabbix, app.kubernetes.io/component: server}
  ports: [{name: zabbix-trapper, port: 10051, targetPort: zabbix-trapper, nodePort: {{ private_cloud.zabbix.server_node_port }}, protocol: TCP}]
