apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: grafana
  namespace: observability
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.tls: "true"
    traefik.ingress.kubernetes.io/router.tls.certresolver: cloudflare
spec:
  ingressClassName: traefik
  rules:
    - host: {{ private_cloud.logging.hostname | to_json }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend: {service: {name: grafana, port: {number: 3000}}}
