apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ stalwart_pvc_name }}
  namespace: {{ stalwart_namespace }}
  labels:
    app.kubernetes.io/name: stalwart
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ stalwart_pv_capacity }}
  storageClassName: ""
  volumeName: {{ stalwart_pv_name }}
