apiVersion: v1
kind: Secret
metadata:
  name: {{ stalwart_recovery_secret_name }}
  namespace: {{ stalwart_namespace }}
  annotations:
    private-cloud.example/managed-by: ansible
type: Opaque
stringData:
  STALWART_RECOVERY_ADMIN: {{ (private_cloud.stalwart.admin_username ~ ':' ~ private_cloud_secrets.stalwart.admin_password) | to_json }}
  STALWART_USER: {{ private_cloud.stalwart.admin_username | to_json }}
  STALWART_PASSWORD: {{ private_cloud_secrets.stalwart.admin_password | to_json }}
