apiVersion: v1
kind: ConfigMap
metadata:
  name: stalwart-config
  namespace: private-cloud
  labels:
    app.kubernetes.io/name: stalwart
data:
  wait_for_api.py: |
{{ lookup('file', role_path ~ '/../../../k0s-services/stalwart/wait_for_api.py') | indent(4, true) }}
  config.json: |
    {
      "@type": "PostgreSql",
      "host": {{ stalwart_postgres_service | to_json }},
      "port": {{ stalwart_postgres_port }},
      "database": "stalwart",
      "authUsername": "stalwart",
      "authSecret": {
        "@type": "EnvironmentVariable",
        "variableName": "STALWART_DB_PASSWORD"
      },
      "poolMaxConnections": 10,
      "useTls": false
    }
