apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: stalwart-ingress
  namespace: private-cloud
spec:
  podSelector:
    matchLabels:
      app.kubernetes.io/name: stalwart
      app.kubernetes.io/component: server
  policyTypes: [Ingress]
  ingress:
    - from:
        - podSelector:
            matchLabels:
              app.kubernetes.io/name: stalwart
              app.kubernetes.io/component: configuration
      ports:
        - {protocol: TCP, port: 8080}
    - from:
        - namespaceSelector:
            matchLabels: {kubernetes.io/metadata.name: edge}
          podSelector:
            matchLabels: {app.kubernetes.io/name: traefik}
      ports:
        - {protocol: TCP, port: 8080}
        - {protocol: TCP, port: 25}
{% if private_cloud.stages.notifications %}
    - from:
        - namespaceSelector:
            matchLabels: {kubernetes.io/metadata.name: observability}
          podSelector:
            matchLabels: {app.kubernetes.io/name: openobserve}
        - podSelector:
            matchLabels:
              app.kubernetes.io/name: zabbix
              app.kubernetes.io/component: server
      ports:
        - {protocol: TCP, port: {{ private_cloud_alert_smtp_port }}}
{% endif %}
