apiVersion: v1
kind: Secret
metadata:
  name: {{ postgres_secret_name }}
  namespace: {{ postgres_namespace }}
type: Opaque
stringData:
  POSTGRES_DB: {{ postgres_admin_database | to_json }}
  POSTGRES_USER: {{ postgres_admin_username | to_json }}
  POSTGRES_PASSWORD: {{ private_cloud_secrets.postgres.admin_password | to_json }}
